body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deng, #f5a623,#f47c4f);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container {
    background: white;
    border-radius: 8px;
    box-shadow: black 0px 0px 10px;
    padding: 20px; 
    max-width: 400px;
    width: 100%;

}
h1{
    margin:0;
    font-size: 24px;
    text-align: center;
 
}

.form-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20PX;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #addd;
    border-radius: 4px;
    font-size: 16px;

}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
button:hover {
    background-color: #0056b3;
     
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;

}
li {
    background-color: #fafafa;
    border: 1px solid#addd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
li.completed {
    text-decoration: line-through;
    color: #aaa

}
.delete-btn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

}
.delete-btn:hover {
    background-color: #c82333;
}